.navItem {
    flex: 0 0 auto;
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    padding: 0 fluid-to-laptop(20, 14);
    color: var(--color-gray-75);
    font-weight: 600;
    background-color: var(--color-black-10);
    border: var(--border);
    border-radius: var(--border-radius-s);

    @include hover {
        color: var(--color-white);
        border-color: var(--color-red-45);
    }
}

.dark,
.light {
    color: var(--color-gray-75);
}

.active {
    color: var(--color-white);
    background-color: var(--color-red-45);
    border-color: var(--color-red-45);
    pointer-events: none;
}
