.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: fluid(24, 16);
}

.empty {
    padding: fluid(40, 24);
    color: var(--color-gray-75);
    font-weight: 600;
    text-align: center;
    background-color: var(--color-black-10);
    border: var(--border);
    border-radius: var(--border-radius-l);
}

@include mobile {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
