.field {
    display: grid;
    row-gap: 8px;
}

.fullWidth {
    width: 100%;
}

.label {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
}

.input {
    width: 100%;
    min-height: fluid-to-laptop(58, 48);
    padding: 0 fluid-to-laptop(20, 16);
    color: var(--color-white);
    background-color: var(--color-black-06);
    border: var(--border);
    border-radius: var(--border-radius-s);
    outline: none;

    &::placeholder {
        color: var(--color-gray-60);
    }

    &:focus {
        border-color: var(--color-red-45);
    }
}

.error {
    color: var(--color-red-80);
    font-size: 13px;
    font-weight: 600;
}

