.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.button {
    @include flex-center(true);

    min-width: 44px;
    height: 44px;
    padding: 0 12px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    background: var(--color-black-10);
    border: var(--border);
    border-radius: var(--border-radius-s);
    cursor: pointer;

    @include hover {
        border-color: var(--color-red-45);
        background-color: var(--color-black-12);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.45;
    }
}

.active {
    border-color: var(--color-red-45);
    background: var(--color-red-45);
}

.ellipsis {
    min-width: 24px;
    color: var(--color-gray-60);
    font-weight: 900;
    text-align: center;
}

.pageItem {
    display: inline-flex;
    gap: 8px;
    align-items: center;
}

