.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    padding: fluid-to-laptop(8, 6) fluid-to-laptop(14, 12);
    color: var(--color-white);
    font-weight: 500;
    background-color: var(--color-black-08);
    border: var(--border);
    border-radius: var(--border-radius-s);
}

