.header {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    padding-block: fluid(22, 14);
    background-color: rgb(20 20 20 / 0.9);
    border-bottom: var(--border-width-s) solid var(--color-black-15);
    backdrop-filter: blur(12px);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

.logo {
    flex: 0 0 auto;

    img {
        width: fluid-to-laptop(199, 135);
        height: auto;
    }
}

.overlay {
    display: contents;

    @include tablet {
        position: fixed;
        inset: 0;
        z-index: 90;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        row-gap: 16px;
        width: 100%;
        height: 100dvh;
        padding: calc(fluid(92, 72) + 24px) var(--container-padding-x) var(--container-padding-x);
        background-color: var(--color-black-20);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        translate: 50%;
        transition:
            opacity var(--transition-duration),
            translate var(--transition-duration),
            visibility var(--transition-duration);
    }
}

.open {
    @include tablet {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        translate: 0;
    }
}

.menu {
    border-radius: var(--border-radius-l);

    @include tablet-above {
        padding: fluid-to-laptop(10, 8);
        background-color: var(--color-black-06);
        outline: var(--border-width-l) solid var(--color-black-12);
    }

    @include tablet {
        display: flex;
        justify-content: center;
        height: 100%;
        overflow-y: auto;
        border-radius: 0;
    }
}

.menuList {
    display: flex;
    align-items: center;
    column-gap: 6px;

    @include tablet {
        flex-direction: column;
        row-gap: 16px;
        margin-block: auto;
    }
}

.menuLink {
    display: inline-flex;
    padding: fluid-to-laptop(14, 12) fluid-to-laptop(24, 20);
    color: var(--color-gray-75);
    border-radius: var(--border-radius-s);

    @include tablet {
        font-size: 20px;
    }

    @include hover {
        color: var(--color-white);
        background-color: var(--color-red-60);
    }
}

.active {
    color: var(--color-white);
    font-weight: 500;
    background-color: var(--color-black-10);
    pointer-events: none;
}

.actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.actionButton {
    flex: 0 0 auto;
}

.burgerButton {
    @include flex-center;
    @include square(51px);

    position: relative;
    z-index: 110;
    display: none;
    padding: 0;
    background-color: var(--color-black-10);
    border: var(--border-width-m) solid var(--color-black-15);
    border-radius: var(--border-radius-xs);

    @include tablet {
        display: flex;
    }

    @include hover {
        background-color: var(--color-red-60);
        border-color: transparent;
    }
}

@include mobile-s {
    .inner {
        column-gap: 10px;
    }

    .actions {
        justify-content: center;
    }
}

.burgerLine {
    fill: none;
    stroke: var(--color-white);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 60 207;
    transition:
        stroke-dasharray var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1);
}

.line2 {
    stroke-dasharray: 60 60;
}

.line3 {
    stroke-dasharray: 30 207;
    stroke-dashoffset: -30;
}

.burgerActive {
    .burgerLine {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
    }

    .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
    }
}
